<script type="text/javascript">

    // Set the max quantity per customer
    var MAX_QUANTITY = 12;

    // Disable +/- buttons outside 1-12 range
    function handleEnableDisable(itemId) {
        var currentValue = parseInt($(`#id_qty_${itemId}`).val());
        var minusDisabled = currentValue < 2;  // Prevent going below 1
        var plusDisabled = currentValue >= MAX_QUANTITY;  // Prevent going above MAX_QUANTITY (12)
        $(`#decrement-qty_${itemId}`).prop('disabled', minusDisabled);
        $(`#increment-qty_${itemId}`).prop('disabled', plusDisabled);
        
        // Show or hide "limit reached" message
        if (currentValue >= MAX_QUANTITY) {
            $(`#limit-message_${itemId}`).show(); // Show message if limit is reached
        } else {
            $(`#limit-message_${itemId}`).hide(); // Hide message if within limit
        }
    }

    // Ensure proper enabling/disabling of all inputs on page load
    var allQtyInputs = $('.qty_input');
    for(var i = 0; i < allQtyInputs.length; i++){
        var itemId = $(allQtyInputs[i]).data('item_id');
        handleEnableDisable(itemId);
    }

    // Check enable/disable every time the input is changed
    $('.qty_input').change(function() {
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Increment quantity
    $('.increment-qty').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var currentValue = parseInt($(closestInput).val());
        if (currentValue < MAX_QUANTITY) {
            $(closestInput).val(currentValue + 1);
        }
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

    // Decrement quantity
    $('.decrement-qty').click(function(e) {
        e.preventDefault();
        var closestInput = $(this).closest('.input-group').find('.qty_input')[0];
        var currentValue = parseInt($(closestInput).val());
        if (currentValue > 1) {
            $(closestInput).val(currentValue - 1);
        }
        var itemId = $(this).data('item_id');
        handleEnableDisable(itemId);
    });

</script>
